.array-container {
  margin: 50px;
  margin-left: 100px;
  white-space: nowrap;
  overflow-x: auto;
}

button {
  padding: 10px;
  margin-right: 10px !important; /* Add a margin to the right for the desired gap */
  font-size: 15px;
  cursor: pointer;
  background-color: #b0f7c7;
  border-radius: 5px;
  border: none;
  transition: background-color 0.3s ease-in-out, color 0.4s ease-in-out;
}

.array-bar {
  width: 15px;
  border-radius: 10px; /* Applies to all corners initially */
  border-bottom-left-radius: 0; /* Resets top-left corner */
  border-bottom-right-radius: 0; /* Resets top-right corner */
  display: inline-block;
  margin: 0 4px;
}
