body{
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif !important;
}

footer{
    /*position: fixed;
    bottom: 0px;
    left: 0px;
    right: 0px;*/
    background-color: #212842;
    font-weight: bolder;
    color: #fff;
}

